body,td,th { font-family:helvetica,helv,arial,sans-serif; font-size:10px }
body { background-color: #ffffff; color: #000000 }
h1 { font-size: 140%; marign: 0px; }
h2 { font-size: 120%; marign: 0px; }
div.title    { background-color:#dddddd; border:solid black 1px; margin:20px; padding:20px; }
div.box      { background-color:#eeeeee; border:solid black 1px; margin:20px; padding:20px; }
div.infobox  { background-color:#ccccff; border:solid black 1px; margin:20px; padding:20px; width: 60%; }
div.errorbox { background-color:#ffdddd; border:solid black 1px; margin:20px; padding:20px; width: 60%; text-align: left; } 
