/*
 * Vary the gereneral Privoxy Stlyesheet to
 * meet the needs of small popups:
 *
 * $Id: $
 */
body,td,th { font-size:10px; }
div.infobox  { width: 60%; }
div.errorbox { width: 60%; text-align: left; } 
