# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
*.txt
GNUmakefile
Makefile
autom4te.cache
build-stamp
configure-stamp
configure
config.base
config.cache
config.h
config.h.in
config.log
config.new
config.status
jarfile
logfile
privoxy
privoxy.exe
privoxy-cl.spec
vc_debug
vc_debug_winthr
vc_console.ncb
vc_console.opt
vc_console.plg
vc_privoxy.ncb
vc_privoxy.opt
vc_privoxy.plg
vc_release
vc_release_winthr
w32.aps
w32.res
