Source: privoxy
Section: web
Priority: optional
Maintainer: Roland Rosenfeld <roland@debian.org>
Build-Depends: autoconf,
               debhelper-compat (= 13),
               dh-apparmor,
               docbook <!nodoc>,
               docbook-dsssl <!nodoc>,
               docbook-utils <!nodoc>,
               groff <!nodoc>,
               libbrotli-dev,
               libpcre2-dev,
               libssl-dev,
               man2html <!nodoc>,
               opensp:native <!nodoc>,
               po-debconf,
               sgmlspl <!nodoc>,
               w3m <!nodoc>,
               zlib1g-dev
Standards-Version: 4.7.0
Homepage: https://www.privoxy.org/
Vcs-Git: https://salsa.debian.org/debian/privoxy.git
Vcs-Browser: https://salsa.debian.org/debian/privoxy
Rules-Requires-Root: no

Package: privoxy
Architecture: any
Depends: adduser,
         debconf,
         logrotate,
         ucf,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Recommends: doc-base
Suggests: apparmor
Description: Privacy enhancing HTTP Proxy
 Privoxy is a web proxy with advanced filtering capabilities for
 protecting privacy, filtering web page content, managing cookies,
 controlling access, and removing ads, banners, pop-ups and other
 obnoxious Internet junk. Privoxy has a very flexible configuration
 and can be customized to suit individual needs and tastes. Privoxy
 has application for both stand-alone systems and multi-user networks.
 .
 Privoxy is based on Internet Junkbuster (tm).
