Source: privoxy
Section: web
Priority: optional
Maintainer: Roland Rosenfeld <roland@debian.org>
Build-Depends: autoconf,
               autotools-dev,
               debhelper (>= 9),
               dh-systemd (>= 1.4),
               docbook,
               docbook-dsssl,
               docbook-utils,
               groff,
               jade,
               libpcre3-dev,
               man2html,
               po-debconf,
               sgmlspl,
               sp,
               w3m,
               zlib1g-dev
Standards-Version: 3.9.8
Homepage: https://www.privoxy.org/
Testsuite: autopkgtest

Package: privoxy
Architecture: any
Depends: adduser,
         debconf,
         logrotate,
         lsb-base (>= 3.2-13),
         ucf,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Recommends: doc-base
Description: Privacy enhancing HTTP Proxy
 Privoxy is a web proxy with advanced filtering capabilities for
 protecting privacy, filtering web page content, managing cookies,
 controlling access, and removing ads, banners, pop-ups and other
 obnoxious Internet junk. Privoxy has a very flexible configuration
 and can be customized to suit individual needs and tastes. Privoxy
 has application for both stand-alone systems and multi-user networks.
 .
 Privoxy is based on Internet Junkbuster (tm).
